@{
    var currentController = ViewContext.RouteData.Values["Controller"].ToString();
    var currentAction = ViewContext.RouteData.Values["Action"].ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
   

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VPS | Dashboard</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- AdminLTE CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.2.0/css/adminlte.min.css">

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.dataTables.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- AdminLTE JS -->
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
    <!-- Dropzone CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css">
  
    @RenderSection("styles", required: false)
    <link rel="stylesheet" href="~/css/site.css">
    <style>
        .nav-link.active {
            background-color: #F3BC12 !important; /* Highlight color */
            color: #fff !important; /* Optional: change text color */
        }
        .search{
            background-color: #F3BC12 !important;
            color: #23282B !important;
        }

        .Search1{
            background-color: white !important;
        }

        /* Add this to your <style> section or CSS file */
       

        .sidebar.closed {
            width: 50px; /* Width when closed */
            opacity: 0; /* Fade out */
        }

        .sidebar.open {
            width: 250px; /* Width when open */
            opacity: 1; /* Fully visible */
        }

     

       
    </style>
</head>
<body class="hold-transition sidebar-mini">
   
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light navbar-fixed-top">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button" id="toggleNav"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
               
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
              
<<<<<<< HEAD
                   
=======
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
          
>>>>>>> 1f9a5573c017d553d98aeb9e4d0f3ef95df9e303
            </ul>
        </nav>

        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4" id="myNav"  style="background-color:#23282B ">
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex justify-content-center">
                    <img src="@Url.Content("~/Images/parkit_logo_white.png")" id="navImage" style="height:40px; width:180px" />
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline searchdiv">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar Search1" type="search" placeholder="Search" aria-label="Search" >
                        <div class="input-group-append">
                            <button class="btn btn-sidebar search">
                                <i class="fas fa-search fa-fw search" ></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Home")" class="nav-link @(currentController == "Home" && currentAction == "Index" ? "active" : "")" ">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                </p>
                            </a>
                        </li>
                    
                        <li class="nav-item">
                            <a href="@Url.Action("CoveredZones", "Zone")" class="nav-link  @(currentController == "Zone" ? "active" : "")">
                                <i class="nav-icon fas fa-map-marked-alt"></i>
                                <p>
                                    Zones
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Users", "User")" class="nav-link  @(currentController == "User" ? "active" : "")" >
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    Employees
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Calendar", "Schedule")" class="nav-link  @(currentController == "Schedule" ? "active" : "")">
                                <i class="nav-icon fas fa-calendar-alt"></i>
                                <p>
                                    Schedules
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("TransactionTable", "Transaction")" class="nav-link   @(currentController == "Transaction" ? "active" : "")">
                                <i class="nav-icon fas fa-exchange-alt"></i>
                                <p>
                                    Transactions
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-chart-line"></i>
                                <p>
                                    Reports
                                </p>
                            </a>
                        </li>
                    </ul>
                    <!-- Separate UL for Settings and LogOut at the bottom -->
                    <ul class="nav nav-pills nav-sidebar flex-column mt-5" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-cog"></i>
                                <p>
                                    Settings
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Logout", "Login")" class="nav-link">
                                <i class="nav-icon fas fa-sign-out-alt"></i>
                                <p>
                                    LogOut
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>

                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                         <div class="col-sm-6">
                            @* <h1>Dashboard</h1>*@
                        </div> 
                        <div class="col-sm-6">
                            @* <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ol> *@
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-inline">
                Anything you want
            </div>
            <strong>Copyright &copy; 2024 ParkIt</a>. All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2.0/dist/js/adminlte.min.js"></script>
    <!-- DataTables -->
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.print.min.js"></script>
    <!-- Dropzone.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"></script>

    @RenderSection("scripts", required: false)
  
    <script>
        $(document).ready(function () {
          
            // Attach a click event handler to nav-links
            $('.nav-link').on('click', function () {
                // Remove the active class from all nav-links
                $('.nav-link').removeClass('active');

                // Add the active class to the clicked nav-link
                $(this).addClass('active');


            });
           
           
        });
        document.getElementById('toggleNav').addEventListener('click', function () {
            const nav = document.getElementById('myNav');
            const navImage = document.getElementById('navImage');

            if (nav.classList.contains('open')) {
                // Close navigation
                nav.classList.remove('open');
                navImage.src = '@Url.Content("~/Images/parkit_logo_white.png")';
                $('.main-sidebar').css('pointer-events', 'auto');
            } else {
                // Open navigation
                nav.classList.add('open');
                navImage.src = '@Url.Content("~/Images/nav_logo_car.png")';
                $('.main-sidebar').css('pointer-events', 'none');
            }
        });
       
    </script>

</body>
</html>